# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Gustavo\Documents\GitHub\COVID\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.jpg
*.png

.idea
.vscode
data
old_data
.model
__pycache__
.pytest_cache
data.zip