data
build
dist
images
old_data
outputs
weights
log

.model
.vscode
__pycache__
logs
PlotNeuralNet
fig
test

*.rar
*.h5df
*.code-workspace
*.ini
*.png
.pytest_cach
*.hdf5
*.h5
*.zip

.gitignore

Segmentacao/cxr_reg_weights.best.hdf5
Segmentacao/weight_val_acc_95.93.h5
Segmentacao/model_5_32_acc_95.93.h5

block_segmentation.py